<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <remove name="Cache-Control" />
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate, max-age=0" />
        
        <remove name="Pragma" />
        <add name="Pragma" value="no-cache" />
        
        <remove name="Expires" />
        <add name="Expires" value="-1" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
